body {
  font-size: 14px;
}
.v7_97 {
  width: 100%;
  height: 2975px;
  background: rgba(255,255,255,0.9399999976158142);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v26_1 {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2099px;
  overflow: hidden;
}
.v24_1 {
  width: 100%;
  height: 255px;
  background: url("../images/v24_1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: fixed;
  overflow: hidden;
}

.navbar {
  width:auto;
  height:auto;
  top: 300px;
  color:rgb(255, 255, 255);
  font-size: 36px;
  padding-left: 7rem;
}
.bg-light {
  background-color:transparent!important;
}
.navbar-brand{
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 40rem;
    font-size: 36px;
    text-decoration: none;
    white-space: nowrap;
}

.v3_4 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 600px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
  position: absolute;

}
.v26_2 {
  width: 500px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1414px;
  left: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v26_3 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1500px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: justify;
  position: absolute;
}
.v26_4 { /*mypic*/
  width: 260px;
  height: 230px;
  background-size: cover;
  position: absolute;
  top: 3000px;
  left: 50px;
}
.v32_2 { /*contant*/
  width: auto;
  color: rgb(136, 136, 136);
  position: absolute;
  top: 3000px;
  left: 414px;
  font-family: Arial;
  text-align: left;
}
.v33_4 {
  width: auto;
  color: rgba(136, 136, 136);
  position: absolute;
  top: 3200px;
  left: 414px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v32_3 {
  width: 369px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2012px;
  left: 45px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v32_4 {
  width: 275px;
  height: 207px;
  background: url("../images/v32_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2099px;
  left: 1020px;
  overflow: hidden;
}
.v32_5 {
  width: 275px;
  height: 210px;
  background: url("../images/v32_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2097px;
  left: 370px;
  overflow: hidden;
}
.v32_8 {
  width: 275px;
  height: 210px;
  background: url("../images/v32_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2097px;
  left: 695px;
  overflow: hidden;
}
.v32_10 {
  width: 135px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2546px;
  left: 456px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v32_11 {
  width: 441px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2546px;
  left: 594px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}


.v33_18 {
  margin-top: 20px;
  width: 100%;
  height: 548px;
  background: url("../images/v33_18.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 750px;
  overflow: hidden;
}

.row { /*ScreenS*/
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
